{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% endblock %}
    <title>Tasks</title>
    {% include "navbar.html" %} 
</head>
<body>
    <h1>
        Tasks
    </h1>
        
    </div>
     <div class="container-fluid m-3">
        <div class="row" align="center">
          {% for task in task%}
          <div class="col-md-4" >
            
        
          <div class="card">
          <div class="card-header bg-transparent border-success">
            Task title: <strong>{{ task.title }}</strong>
          </div>
          <div class="card-body text-primary">
            <h5>User: <strong>{{ task.user }}</strong></h5>
            <h5>Description: <strong>{{ task.description }}</strong></h5>
          </div>
        </div><br>
        

       
      </div>
      {%endfor%}
    </div> 
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"
  ></script>     
</body>
</html>